/* App */

/* Header */
.header {
  border: 1px solid black;
  width: 100%;
  margin: 0;
}

/* Chatbox */
.chatbox {
  float: left;
  border: 1px solid black;
  width: 39%;
  height: 95vh;
  margin: 0;
}

.chatbox li {
  list-style: none;
}

.chatbox ul {
  margin: 0;
  padding: 0;
}

/* Canvas */
.canvas {
  float: right;
  border: 1px solid black;
  width: 59%;
  height: 95vh;
  margin: 0;
}